body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%), url(../img/background-section.jpg);
    background-attachment: fixed;
}

p {
    margin: 0 0 10px;
    font-weight: 500;
    color: white;
}

input {
    color: black;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2vw;
    font-weight: 800;
}

h2 {
    text-align: center;
    color: #bc81e0;
    margin: 25px 0px 72px;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

h3 {
    text-align: center;
    color: #bc81e0;
    margin-bottom: 4em;
}

h4 {
    text-align: center;
    font-size: 1vw;
    color: white;
}

img {
    width: 10vw;
}

#nouveauChapitre {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.form-group {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

body,
html {
    height: 100%;
}

body {
    padding-top: 50px;
}

.navbar-fixed-top,
.navbar-inverse {
    background: #1b254d;
}

.navbar a:hover,
.menuDeroulant:hover .menuBtn {
    background-color: #121935;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #121935;
}

.menuDeroulant {
    float: left;
    overflow: hidden;
}

.menuDeroulant .menuBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 7px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.menuDeroulant:hover .index {
    display: block;
}

.index {
    display: none;
    position: absolute;
    background-color: #1b254d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: black 3px solid;
    right: 0%;
}

.index a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.index a:hover {
    background-color: #121935;
}

.Titre {
    width: 100%;
    height: 340px;
    z-index: 1;
}

.Titre hr {
    width: 85%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1;
    border-top: 2pt solid #eee;
}

.line {
    padding-top: 85px;
    white-space: no-wrap;
    overflow: hidden;
    text-align: center;
}

.logo {
    color: #fff;
    font-weight: 500;
    font-size: 2vw;
    padding: 55px 0px;
    text-align: center;
}


/*---- En Commun ----*/

.container-fluid {
    text-align: center;
    line-height: 2;
    background-color: #3a3a3a;
    border: 1px solid #d2d2d2;
    margin-bottom: 4em;
}

.container-fluid:hover {
    background-color: #202020;
}

.img-responsive:hover {
    transform: scale(1.1);
    transition: transform .2s;
    border: 3px solid #d2d2d2;
}

.img-responsive {
    width: 100px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

#admin {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1b254d;
    border-color: #000000;
    transition-duration: 0.35s;
    transform: scale(1.2);
    transition: transform .2s;
}

.btn-primary {
    color: #fff;
    background-color: #5b547e;
    border-color: #7101c3;
    margin: 15px 0px 15px;
}

label {
    color: white;
}


/*---- En Commun ----*/

#Connexion,
#Contact,
#Livres {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    padding-right: 0px;
    padding-left: 0px;
    color: white;
}

.row {
    min-height: 550px;
}

.form-box {
    margin-bottom: 5em;
    color: white;
}

.galerie,
.chapitre {
    margin-bottom: 10px;
}

.reseauxSociaux {
    text-align: center;
    padding: 5px;
    background-color: #1b254d;
    border-top: 1px solid;
}

.reseauxSociaux .social {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 5.125rem;
    height: 5.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    background: #5b547e;
}

.reseauxSociaux .social:hover,
.reseauxSociaux .social:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.reseauxSociaux .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
    font-size: 25px;
    margin-top: 25%;
    color: white;
}

.reseauxSociaux .social.facebook:hover,
.reseauxSociaux .social.facebook:focus {
    color: #3b5998;
    background: #3b5998;
    border-color: #3b5998;
}

.reseauxSociaux .social.twitter:hover,
.reseauxSociaux .social.twitter:focus {
    color: #55acee;
    background: #55acee;
    border-color: #55acee;
}

.reseauxSociaux .social.linkedin:hover,
.reseauxSociaux .social.linkedin:focus {
    color: #007bb5;
    background: #007bb5;
    border-color: #007bb5;
}

.reseauxSociaux .social.instagram:hover,
.reseauxSociaux .social.instagram:focus {
    color: #ff0147;
    background: #ff0147;
    border-color: #ff0147;
}


/*---- Page Accueil ----*/

#msgSession {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 55vh;
    font-size: 2vw;
    color: white;
}

#Accueil {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}


/*---- Page Accueil ----*/


/*---- Page Chapitres ----*/

.Billets img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-bottom: 4em;
    border: 2px solid #d2d2d2;
}

.Billets figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 4em;
    text-align: center;
}

.Billets figcaption {
    border: 1px solid #efefef;
    background-color: #3a3a3a;
    transition: transform .2s;
    border: 1px solid #d2d2d2;
}

.Billets figcaption:hover {
    border: 1px solid #efefef;
    background-color: #202020;
    transition: transform .2s;
    border: 1px solid #d2d2d2;
}

.chapitres {
    text-align: center;
    background-color: #3a3a3a;
    border: 2px solid #f1efed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 75%;
}


/*---- Page Chapitres ----*/


/*---- Page Chapitre ----*/

#comments {
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #3a3a3a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 75%;
}

.comment {
    text-align: center;
    border: 5px solid #ffffff;
    background-color: #191919;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 75%;
    border-radius: 10px;
}

#commBtn {
    display: none;
}


/*---- Page Chapitre ----*/


/*---- Page Livres ----*/

.blocLivres {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #3a3a3a;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#boutonGallerie {
    margin-bottom: 10%;
}

.blocLivres:hover {
    background-color: #202020;
}


/*---- Page Livres ----*/


/*---- Page Biographie ----*/

.blocBio {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #3a3a3a;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.blocBio:hover {
    background-color: #202020;
}

.img-bio {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-bio:hover {
    transform: scale(1.1);
    transition: transform .2s;
    border: 3px solid #d2d2d2;
}


/*---- Page Biographie ----*/


/*---- Page Contact ----*/

#message {
    height: 350px !important;
    ;
}


/*---- Page Contact ----*/


/*---- Page Login ----*/

#Connexion {
    height: 570px;
}


/*---- Page Login ----*/


/*---- Page Administration ----*/

table {
    margin: 0 auto;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}

table thead th,
table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, .1);
}

table caption {
    padding: .5em;
}

table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
}

tr:hover {
    background-color: #202020;
}


/* Zebra Table Style */

[data-table-theme*=zebra] tbody tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, .05);
}

[data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, .05);
}


/* Dark Style */

[data-table-theme*=dark] {
    color: #ddd;
    background: #333;
    font-size: 12pt;
    border-collapse: collapse;
}

[data-table-theme*=dark] thead th,
[data-table-theme*=dark] tfoot th {
    color: #aaa;
    background: rgba(0255, 255, 255, .15);
}

[data-table-theme*=dark] caption {
    padding: .5em;
}

[data-table-theme*=dark] th,
[data-table-theme*=dark] td {
    padding: .5em;
    border: 1px solid grey;
}


/*---- Page Administration ----*/


/*---- Page Nouveau Chapitre ----*/

#nouveauChapitre {
    margin-top: 40px;
}


/*---- Page Nouveau Chapitre ----*/


/*---- Responsive ----*/

@media screen and (max-width: 425px) {}


/*---- Responsive ----*/